@font-face {
    font-family: 'hp_simplified';
    src: url('../fonts/hp_simplified_regular-webfont.eot');
    src: url('../fonts/hp_simplified_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hp_simplified_regular-webfont.woff2') format('woff2'),
         url('../fonts/hp_simplified_regular-webfont.woff') format('woff'),
         url('../fonts/hp_simplified_regular-webfont.ttf') format('truetype'),
         url('../fonts/hp_simplified_regular-webfont.svg#hp_simplified') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hp_simplified';
    src: url('../fonts/hp_simplified_bold-webfont.eot');
    src: url('../fonts/hp_simplified_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hp_simplified_bold-webfont.woff2') format('woff2'),
         url('../fonts/hp_simplified_bold-webfont.woff') format('woff'),
         url('../fonts/hp_simplified_bold-webfont.ttf') format('truetype'),
         url('../fonts/hp_simplified_bold-webfont.svg#hp_simplified') format('svg');
    font-weight: bold;
    font-style: normal;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #fff;
    background: rgba(255,255,255,0.8);
    display: none;
}
    #loader img {
        position: fixed;
        width: 100px;
        height: 100px;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
    }

.hp-background {
    background-color: #0096D6;
    color: #FFFFFF;
}

.no-margin-bottom {
    margin-bottom: 0px !important;
}
.no-margin-right {
    margin-right: 0px !important;
}
.no-margin {
    margin: 0px !important;
}

.margin {
    margin: 20px;
}

.margin-top {
    margin-top: 20px;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.custom-disabled {
    border: none;
    background: transparent !important;
    box-shadow: none;
    outline: none;
    cursor: default !important;
}

.custom-disabled:hover,
.custom-disabled:focus {
    outline: none;
    box-shadow: none;
}

body {
    background-color: #FAFAFA;
    font-family: 'hp_simplified';
    font-size: 12pt;
}

header {
    padding: 5rem 0;
    border: 1px solid #0087C5;
    border-top: none;
}
    header *{
        margin: 0;
        font-weight: bold;
    }

nav {
    margin: 1.5rem 0 2.5rem;
}
    nav button,
    .btn-hp {
        background-color: transparent;
        border: 1px solid #0096D6 !important;
        font-size: 14pt !important;
        margin: 1rem 1rem 0 0;
    }

    nav button:focus,
    nav button:hover,
    nav button.active,
    .btn-hp:focus,
    .btn-hp:hover {
        background-color: #0096D6;
        color: #FFFFFF !important;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
    }

section#main {
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    margin-bottom: 8rem;
}

footer {
    margin: 2.5rem 0 0;
    padding: 1.5rem;
    border: 1px solid #0087C5;
    border-bottom: none;
    position: fixed;
    bottom: 0;
    width: 100% !important;
}
    footer *{
        margin: 0;
    }


/* ADMIN PAGE STYLE */

.login-form,
.manage-admin-form {
    max-width: 500px;
    margin: 50px auto;
}

.admin-topbar {
    padding: 1.5rem 2rem;
    background: #FAFAFA;
    border-bottom: 1px solid #EEEEEE;
}
.admin-homepage-nav {
    margin: 2rem 2rem 0;
}
    .admin-homepage-nav li a{
        border: 1px solid #EEEEEE;
        cursor: pointer;
        margin-right: 1rem;
    }
.admin-homepage-contents {
    margin: 0 2rem 2rem;
    border: 1px solid #ddd;
    border-top: none;
    padding: 1.5rem 2rem;
}

/* ASSIGN PAGE STYLE */

.assign-ticket-page {
    padding: 3rem;
}